body {
    overflow: hidden;
}

#username {
    position: absolute;
    font-size: 75px;
    transform: translateX(-50%);
    left: 50%;
    top: 350px;
    pointer-events: none;
}

#password {
    position: absolute;
    font-size: 75px;
    transform: translateX(-50%);
    left: 50%;
    top: 480px;
    pointer-events: none;
}

.inputBox {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
    height: 40px;
    font-size: 30px;
    background-color: #705437;
    outline: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #50341b;
    color: white;
    border-width: 3px;
    left: 50%;
}

#usernameBox {
    top: 430px;
}

#passwordBox {
    top: 560px;
}

#submit {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 630px;
    font-size: 40px;
}

#accReg {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 700px;
    font-size: 30px;
    color: white;
}

#createdBy {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    bottom: 0;
    color: white;
    font-size: 40px;
    width: 100%;
}

#errorMessage {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 325px;
    font-size: 30px;
    color: rgb(122, 0, 0);
    text-align: center;
}

#otherMessage {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 325px;
    font-size: 30px;
    color: white;
    text-align: center;
}
